
html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 60px;
}
html, body, .container {
    height: 100%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
span.glyphicon-home {
    font-size: 2em;
    top: 2px;
}
span.glyphicon-earphone {
    font-size: 2em;
    top: 6px;
}
h3 {
    display: inline;
}
.footer {
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}
